<%- include("../partials/headerPhotoEN")%>

<script>
   $("#photos").toggleClass("active")
    $("#en").toggleClass("active")
</script>

<% if(currentUser) { %>
<h1 class="text-center mb-5">
    <a href="photos/new"> Ajouter une photo!!</a>
</h1>

<%}%>




<% photos.forEach(function(photo) {%>

    <!-- <div class="row ml-5 justify-content-start"> -->
        <!-- <div class="col-6">
            <img class="videosgall" src="<%=photo.url%>" alt="<%=photo.alt%>">
        </div>
        <div class="col-3 ">
            <h1><%=photo.title%></h1>
            <p><%=photo.text%></p>
        </div>

        <% if(currentUser) { %>
        <a href="/en/photos/<%=photo._id%>/edit">
            <button class="btn btn-info">
                Update photo
            </button>
        </a>
        <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">
                Delete la Photo
            </button>
        </form>
        <%}%>
    </div> -->

<%})%>

<%var count = 1; %>

<section class="spectacle mt-5 ">
    <!-- <h1 class="text-center" >SPECTACLE</h1> -->
    
        <div class="masonry my-5">
            <%photos.forEach(function(photo) { %>
                <%if(photo.section==="Spectacle"){%>
                <%if(count===1) { %>

                   

                    

                        <div class="grid">
                            
                                <img  id="photos" src="<%=photo.url%>">
                               
                          <div class="grid__body">
                            <div class="relative">
                                <a class="grid__link" href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>"></a>
                              <h1 class="grid__title"><%=photo.title%></h1>
                            </div>
                           
                          </div>
                        
                        </div>
                       
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                        
                        
                    

                    <!-- <div class="pair mt-4">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="photos p-3 bg-white "  src="<%=photo.url%>" alt="">
                        </a>

                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div> -->
                    
                <%} else{ %>

                  
                        <div class="grid">
                           
                            <img  src="<%=photo.url%>">
                           
                          <div class="grid__body">
                            
                            <div class="relative">
                                <a class="grid__link" href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>"></a>
                              <h1 class="grid__title"><%=photo.title%></h1>
                              
                            </div>
                           
                          </div>
                      
                        </div>

                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                       
                        
                    
                    
                    

                    <!-- <div class="impair mt-4">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="photos shadow-lg p-3 bg-white"  src="<%=photo.url%>" alt="">
                        </a>
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div> -->
                <% } %>
                <%count*=-1;   %>
                <%}%>
            <%})%>
        </div>
   
    
</section>

<section class="mode">
    <h1 class="text-center" >MODE</h1>
    <div class="container-fluid justify-content-around">
        <div class="row">
            <%photos.forEach(function(photo) { %>
                <%if(photo.section==="Mode") {%>
                <%if(count===1) { %>
                    <div class="col-md-6 col-lg-4 col-xl-3 shadow-lg align-self-start minheight">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="img-fluid photos shadow-lg p-3 bg-white"  src="<%=photo.url%>" alt="">
                        </a>
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div>
                <%} else{ %>
                    <div class="col-md-6 col-lg-4 col-xl-3 shadow-lg align-self-end ">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="img-fluid photos my-5 shadow-lg p-3 bg-white"  src="<%=photo.url%>" alt="">
                        </a>
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div>
                <% } %>
                <%count*=-1;   %>
                <%}%>
            <%})%>
        </div>
    </div>
    
</section>

<section class="perf">
    <h1 class="text-center">PERFORMANCE</h1>
    <div class="container-fluid justify-content-around">
        <div class="row">
            <%photos.forEach(function(photo) { %>
                <%if(photo.section==="Perf") {%>
                <%if(count===1) { %>
                    <div class="col-md-6 col-lg-4 col-xl-3 shadow-lg align-self-start minheight">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="img-fluid photos my-5 shadow-lg p-3 bg-white"  src="<%=photo.url%>" alt="">
                        </a>
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div>
                <%} else{ %>
                    <div class="col-md-6 col-lg-4 col-xl-3 shadow-lg align-self-end ">
                        <a href="<%=photo.url%>" data-fancybox="gallery" data-caption="<%=photo.title%>">
                            <img class ="img-fluid photos my-5 shadow-lg p-3 bg-white"  src="<%=photo.url%>" alt="">
                        </a>
                        <% if(currentUser) { %>
                            <a href="/en/photos/<%=photo._id%>/edit">
                                <button class="btn btn-info">
                                    Update photo
                                </button>
                            </a>
                            <form action="/en/photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">
                                    Delete la Photo
                                </button>
                            </form>
                            <%}%>
                    </div>
                <% } %>
                <%count*=-1;   %>
                <%}%>
            <%})%>
        </div>
    </div>
    
</section>

<%- include("../partials/footer")%>