<%- include("partials/headerEN")%>

<script>
    $("#home").toggleClass("active")
    $("#en").toggleClass("active")
</script>

<% photoHome.forEach(function(photoHome){%>
<div class="container-fluid w-100 ml-auto mr-auto mt-5">
    <div class="row">
        <div class="col-6 ">
        <div class="container-fluid">
            <div class="row flex-column-reverse">
                <div class=" w-100">
                    <img class="img-fluid homeimg " src="https://i.ibb.co/6mrj4LN/escarpin-bout-ouvert-detail-coeur-talon-haut-nude-cosmopolitan-patricia-blanchet-3.jpg" alt="">
                </div>
                <div class=" w-100">
                    <p id="homePara"><%=photoHome.text%> </p>
                </div>
                
            </div>
        </div>
       
           </p></div>
        <div class="col-6">
            <img class="img-fluid homeimg float-right" src="<%=photoHome.url%>" alt="<%=photoHome.alt%>">
        </div>
    </div>
</div>

<%})%>

<%if (currentUser) {%>
    <form action="/en/home?_method=PUT" method=POST>
        <div class="container w-50 border mt-4">
            <div class="form-group mt-4">
                <label for="">Titre</label>
                <input class="form-control" type="text" value="<%=photoHome[0].title%>" name="photoHome[title]" >
            </div>
            <div class="form-group">
                <label for="">URL</label>
                <input class="form-control" value="<%=photoHome[0].url%>" type="text" name="photoHome[url]" >
            </div>
            <div class="form-group">
                <label for="">ALT</label>
                <input class="form-control" value="<%=photoHome[0].alt%>" type="text" name="photoHome[alt]" >
            </div>
            <div class="form-group">
                <label for="">Texte</label>
                <textarea  class="form-control"  name="photoHome[text]" id="" cols="60" rows="10"><%=photoHome[0].text%></textarea>
            </div>
        
        <button class="btn btn-danger d-block mx-auto">
            Update photo
        </button>
    </div>
<%}%>

<%- include("partials/footer")%>